<div class="login-cont">
    <div class="mdc-card">
        <div class="normal-login">
            <div>
                <img src="https://www.intelegencia.com/media/1jxjzxi1/logo.png"/>
            </div>
            <div>
                <input [(ngModel)]="username" placeholder="User Name">
            </div>
            <div>
                <input [(ngModel)]="password" placeholder="Password">
            </div>
            <div>
                <button class="login-btn" (click)="normalLogin()">
                    Login
                </button>
            </div>
            <div>
                OR
            </div>
        </div>
        <div class="google-login">
            <div class="google-btn" (click)="login()">
              <div class="google-icon-wrapper">
                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
              </div>
              <p class="btn-text"><b>Sign in with google</b></p>
            </div>
        </div>   
    </div>
    <!-- <div *ngIf="auth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
    </ng-template> -->
    <!-- <ul>
        <li *ngFor="let item of items | async">
          {{ item.Engine_size }}
        </li>
      </ul> -->
</div>